@import '../../sass/_variables'

.navigation
  display: flex
  height: 100%
  grid-area: navigation
  background-color: $secondary-background-color
  .navigationImg
    margin-left: 20px
  .navigationSpan
    margin-left: 28px
  li
    display: flex
    position: relative
    align-items: center
    cursor: pointer
    &:hover
      &::before
        content: ""
        position: absolute
        left: -3px
        bottom: 0
        width: calc(100% + 6px)
        height: 2px
        background: $primary-color
