@import '../../sass/_variables'

.editableSmrTableRow
  td
    padding: 0px 8px 0px 12px
  input
    width: 100%
    padding: 10px 10px 7px 10px
    box-sizing: border-box
    border-radius: 6px
    border: 1px solid $border-color
    margin: 12px 12px 12px 0
    background-color: inherit
    color: $editable-color
    font-family: inherit
    font-size: inherit
    line-height: inherit
