*
  padding: 0
  margin: 0
  border: 0

html, body
  height: 100%
  width: 100%
  font-size: 100%
  line-height: 130%

nav, header, aside
  display: block

li
  list-style: none

a
  text-decoration: none

input,button
  font-family: inherit

$font-stack: Roboto, sans-serif
$primary-color: #FFFFFF
$secondary-color: #A1A1AA
$primary-background-color: #202124
$secondary-background-color: #27272A
$border-color: #414144

body
  font: $font-stack
  color: $primary-color

:root
  font-family: $font-stack
  font-size: 14px
  line-height: 18.2px
  font-weight: 400
  letter-spacing: 0.1px

  color: $primary-color
  background-color: #242424

table
  font-size: 14px
  letter-spacing: 130%